.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;


  }
  
  .title {
    margin-top: 10px;
    font-size:32px;
    font-weight: bold;
    margin-bottom: 10px;
    /* margin-left: 30px; */
    width:90%;
    margin-left: 5%;
  }
  .subline{
    margin-bottom: 20px;
    /* margin-left: 30px; */
    margin-top: 0px;
    font-weight:400;
    width: 90%;
    margin-left: 5%;
    /* border: 2px solid red; */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .input1,.input2 {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid white;
    width: 85%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
  }
  .input2{
    margin-top: 20px;
  }
  
  .textarea {
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    height: 100px;
    resize: vertical;
    width: 85%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .button {
    color:#800000;
    background-color: #fff;
    border:2px solid #800000;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
  }

@media (max-width: 780px) {
    .container {
       max-width: 90%;
       margin: 20px auto;
       padding: 15px;
       margin-top: 50px;
       
     } 
  
    }
@media (max-width: 480px) {
    .container {
       max-width: 90%;
       margin: 20px auto;
       padding: 15px;
       margin-top: 50px;
       
     }
    .title {
       font-size: 24px;
     }
    .input1,.input2 {
       width: 90%;
     }
    .textarea {
       width: 90%;
     }
    .button {
       padding: 10px 20px;
     }
}
  

 