
.content {
  width: 90%;
  margin: 40px auto;
  padding: 20px;
  /* background-color: #f7f7f7; */
  /* border: 1px solid #ddd; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
  
}

.content h2 {
  margin-top: 0;
  font-weight: bold;
  color: #800000;
  padding: 30px;
  font-size: 26px;
  text-transform: uppercase;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
}

.contentProject {
  display: inline-block;
  margin: 20px;
  width: 250px;
  height: 250px;
  /* margin-left: 80px; */
  position: relative;
  overflow: hidden;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), -5px 0px 10px rgba(0, 0, 0, 0.3), 0px -5px 10px rgba(0, 0, 0, 0.3); */
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
  /* border: 1px solid black; */
  cursor: pointer;
  /* box-shadow: 16px 14px 20px rgb(243, 232, 255), -16px 14px 20px rgb(243, 232, 255), 0px -16px 20px rgb(243, 232, 255); */
}

.imageHover {
  position: relative;
  width: 100%;
  height: 100%;
  /* transition: transform 0.5s; */
  overflow: hidden;
}
.imageHover1 {
  border-radius: 30px;
  overflow: hidden;
}

.hoverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s;
}

.imageHover:hover {
  transform: scale(1.1);
}

.hoverText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  height: 250px;
  width: 250px;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 3px solid black;
}

.hoverText p {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin: 0;
  text-transform: uppercase;
}



@media only screen and (max-width:640px) {
  .content{
    width: 90%;
    margin-left: 5%;
    padding-top:0;
  }
  .contentProject{
    height: 230px;
    width: 230px;
  }
  .content h2{
    font-size: 20px;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .hoverText{
    height: 230px;
    width: 230px;
  
  
  }
  .hoverText p{
    font-size: 16px;
  }
}
@media only screen and (max-width:480px){
  .content h2{
  
    font-size: 20px;
    padding: 10px;
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  
}



