.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
  }
  
  .projectCard {
    margin: 20px;
    width: 70%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .screenshot {
    width: 100%;
    /* height: 350px; */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .projectName {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  
  .projectDescription {
    font-size: 16px;
    color: #666;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 768px) {
    .projectCard {
      width: 100%;
    }
    .screenshot {
      height: 250px;
    }
    .projectName {
      font-size: 20px;
    }
    .projectDescription {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .projectCard {
      width: 100%;
      padding: 5px;
    }
    .screenshot {
      height: 200px;
    }
    .projectName {
      font-size: 16px;
    }
    .projectDescription {
    margin-top: 10px;
      font-size: 12px;
    }
  }
  