.skillsContainer {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  .skillsContainer h2{
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    font-size: 28px;
  }
  .skillGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 40px;
  }
  
  .skillCard {
    background-color: #fff;
    padding: 20px;
    border:2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* height: 80px; */
    cursor: pointer;
  }
  
  .skillCard img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    margin: 0 auto 10px;
    display: block;
  }
  
  .skillCard h3 {

    font-size: 22px;
    margin-top: 0;
    text-transform: uppercase;
  }
@media only screen and (max-width: 1150px){

    .skillsContainer{
        margin: 20px 40px;
      }
}

@media only screen and (max-width: 768px) {
  .skillGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .skillCard {
    padding: 15px;
  }
  .skillCard img {
    width: 60px;
    height: 60px;
  }
  .skillCard h3 {
    font-size: 16px;

  }
  .skillsContainer{
    margin: 20px 40px;
  }
  .skillsContainer h2{
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .skillGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .skillCard {
    padding: 20px;

  }
  .skillCard img {
    width: 50px;
    height: 50px;
  }
  .skillCard h3 {
    font-size: 14px;
  }
  .skillsContainer{
    margin: 20px 40px;
  }
  .skillsContainer h2{
    font-size: 18px;
    margin-bottom: 0px;
  }
}